* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.detail {
  color: #F8312F;
}

h1 span {
  font-size: 2rem;
}

.container {
  max-width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  margin-top: 32px;
  place-self: center;
  padding: 16px 48px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 2px;
  border: none;
  background-color: #F8312F;
  color: #F2F2F2;
  border: 2px solid #000000;
  box-shadow: 8px 8px 0px 0px #000000;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  /* scale: 0.95; */
  transform: translate3d(4px, 4px, 0);
  box-shadow: 4px 4px 0px 0px #000000;
  background-color: #f12c29;
}

.tags {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tag {
  background-color: #F8312F;
  border: 2px solid #000000;
  color: #F4F4F4;
  padding: 4px 12px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}

.tag:hover {
  background-color: #eb2522;
}

.tag.active {
  background-color: #F4F4F4;
  color: #000000;
}

.movie-container {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px solid #000000;
  padding-bottom: 40px;
}

.movie-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.sideA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.movie-title {
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
}

.movie-date {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
}

.movie-img.active {
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

.scale-up {
  opacity: 0;
  scale: 0.95;
  transition: transform 0.2s ease;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .movie-box {
    display: block;
  }

  .sideB {
    margin-top: 32px;
  }
}